/* background will be #fae1df, any mats #515052 or #e63462, borders? #fe5f55 and accents#b9f18c? */
html {
    background-color: #fae1df;
    color: #515052;
}

body {
    display: flex;
    flex-direction: column;
    margin: 16px;
    padding: 10px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.socials {
    width: 100px;
    margin: 15px;
}